Осуществим предобработку данных с Твиттера, чтобы отчищенный данные в дальнейшем использовать для задачи классификации. Данный датасет содержит негативные (label = 1) и нейтральные (label = 0) высказывания.
Для работы объединим train_df и test_df.

Задания:

1) Удалим @user из всех твитов с помощью паттерна "@[\w]*". Для этого создадим функцию: 
 - для того, чтобы найти все вхождения паттерна в тексте, необходимо использовать re.findall(pattern, input_txt)
 - для для замены @user на пробел, необходимо использовать re.sub()

2) Изменим регистр твитов на нижний с помощью .lower().

3) Заменим сокращения с апострофами (пример: ain't, can't) на пробел, используя apostrophe_dict. Для этого необходимо сделать функцию: для каждого слова в тексте проверить (for word in text.split()), если слово есть в словаре apostrophe_dict в качестве ключа (сокращенного слова), то заменить ключ на значение (полную версию слова).

4) Заменим сокращения на их полные формы, используя short_word_dict. Для этого воспользуемся функцией, используемой в предыдущем пункте.

5) Заменим эмотиконы (пример: ":)" = "happy") на пробелы, используя emoticon_dict. Для этого воспользуемся функцией, используемой в предыдущем пункте.

6) Заменим пунктуацию на пробелы, используя re.sub() и паттерн r'[^\w\s]'.

7) Заменим спец. символы на пробелы, используя re.sub() и паттерн r'[^a-zA-Z0-9]'.

8) Заменим числа на пробелы, используя re.sub() и паттерн r'[^a-zA-Z]'.

9) Удалим из текста слова длиной в 1 символ, используя ' '.join([w for w in x.split() if len(w)>1]).

10) Поделим твиты на токены с помощью nltk.tokenize.word_tokenize, создав новый столбец 'tweet_token'.

11) Удалим стоп-слова из токенов, используя nltk.corpus.stopwords. Создадим столбец 'tweet_token_filtered' без стоп-слов.

12) Применим стемминг к токенам с помощью nltk.stem.PorterStemmer. Создадим столбец 'tweet_stemmed' после применения стемминга.

13) Применим лемматизацию к токенам с помощью nltk.stem.wordnet.WordNetLemmatizer. Создадим столбец 'tweet_lemmatized' после применения лемматизации.

14) Сохраним результат предобработки в pickle-файл.

In [1]:
apostrophe_dict = {
"ain't": "am not / are not",
"aren't": "are not / am not",
"can't": "cannot",
"can't've": "cannot have",
"'cause": "because",
"could've": "could have",
"couldn't": "could not",
"couldn't've": "could not have",
"didn't": "did not",
"doesn't": "does not",
"don't": "do not",
"hadn't": "had not",
"hadn't've": "had not have",
"hasn't": "has not",
"haven't": "have not",
"he'd": "he had / he would",
"he'd've": "he would have",
"he'll": "he shall / he will",
"he'll've": "he shall have / he will have",
"he's": "he has / he is",
"how'd": "how did",
"how'd'y": "how do you",
"how'll": "how will",
"how's": "how has / how is",
"i'd": "I had / I would",
"i'd've": "I would have",
"i'll": "I shall / I will",
"i'll've": "I shall have / I will have",
"i'm": "I am",
"i've": "I have",
"isn't": "is not",
"it'd": "it had / it would",
"it'd've": "it would have",
"it'll": "it shall / it will",
"it'll've": "it shall have / it will have",
"it's": "it has / it is",
"let's": "let us",
"ma'am": "madam",
"mayn't": "may not",
"might've": "might have",
"mightn't": "might not",
"mightn't've": "might not have",
"must've": "must have",
"mustn't": "must not",
"mustn't've": "must not have",
"needn't": "need not",
"needn't've": "need not have",
"o'clock": "of the clock",
"oughtn't": "ought not",
"oughtn't've": "ought not have",
"shan't": "shall not",
"sha'n't": "shall not",
"shan't've": "shall not have",
"she'd": "she had / she would",
"she'd've": "she would have",
"she'll": "she shall / she will",
"she'll've": "she shall have / she will have",
"she's": "she has / she is",
"should've": "should have",
"shouldn't": "should not",
"shouldn't've": "should not have",
"so've": "so have",
"so's": "so as / so is",
"that'd": "that would / that had",
"that'd've": "that would have",
"that's": "that has / that is",
"there'd": "there had / there would",
"there'd've": "there would have",
"there's": "there has / there is",
"they'd": "they had / they would",
"they'd've": "they would have",
"they'll": "they shall / they will",
"they'll've": "they shall have / they will have",
"they're": "they are",
"they've": "they have",
"to've": "to have",
"wasn't": "was not",
"we'd": "we had / we would",
"we'd've": "we would have",
"we'll": "we will",
"we'll've": "we will have",
"we're": "we are",
"we've": "we have",
"weren't": "were not",
"what'll": "what shall / what will",
"what'll've": "what shall have / what will have",
"what're": "what are",
"what's": "what has / what is",
"what've": "what have",
"when's": "when has / when is",
"when've": "when have",
"where'd": "where did",
"where's": "where has / where is",
"where've": "where have",
"who'll": "who shall / who will",
"who'll've": "who shall have / who will have",
"who's": "who has / who is",
"who've": "who have",
"why's": "why has / why is",
"why've": "why have",
"will've": "will have",
"won't": "will not",
"won't've": "will not have",
"would've": "would have",
"wouldn't": "would not",
"wouldn't've": "would not have",
"y'all": "you all",
"y'all'd": "you all would",
"y'all'd've": "you all would have",
"y'all're": "you all are",
"y'all've": "you all have",
"you'd": "you had / you would",
"you'd've": "you would have",
"you'll": "you shall / you will",
"you'll've": "you shall have / you will have",
"you're": "you are",
"you've": "you have"
}



short_word_dict = {
"121": "one to one",
"a/s/l": "age, sex, location",
"adn": "any day now",
"afaik": "as far as I know",
"afk": "away from keyboard",
"aight": "alright",
"alol": "actually laughing out loud",
"b4": "before",
"b4n": "bye for now",
"bak": "back at the keyboard",
"bf": "boyfriend",
"bff": "best friends forever",
"bfn": "bye for now",
"bg": "big grin",
"bta": "but then again",
"btw": "by the way",
"cid": "crying in disgrace",
"cnp": "continued in my next post",
"cp": "chat post",
"cu": "see you",
"cul": "see you later",
"cul8r": "see you later",
"cya": "bye",
"cyo": "see you online",
"dbau": "doing business as usual",
"fud": "fear, uncertainty, and doubt",
"fwiw": "for what it's worth",
"fyi": "for your information",
"g": "grin",
"g2g": "got to go",
"ga": "go ahead",
"gal": "get a life",
"gf": "girlfriend",
"gfn": "gone for now",
"gmbo": "giggling my butt off",
"gmta": "great minds think alike",
"h8": "hate",
"hagn": "have a good night",
"hdop": "help delete online predators",
"hhis": "hanging head in shame",
"iac": "in any case",
"ianal": "I am not a lawyer",
"ic": "I see",
"idk": "I don't know",
"imao": "in my arrogant opinion",
"imnsho": "in my not so humble opinion",
"imo": "in my opinion",
"iow": "in other words",
"ipn": "I’m posting naked",
"irl": "in real life",
"jk": "just kidding",
"l8r": "later",
"ld": "later, dude",
"ldr": "long distance relationship",
"llta": "lots and lots of thunderous applause",
"lmao": "laugh my ass off",
"lmirl": "let's meet in real life",
"lol": "laugh out loud",
"ltr": "longterm relationship",
"lulab": "love you like a brother",
"lulas": "love you like a sister",
"luv": "love",
"m/f": "male or female",
"m8": "mate",
"milf": "mother I would like to fuck",
"oll": "online love",
"omg": "oh my god",
"otoh": "on the other hand",
"pir": "parent in room",
"ppl": "people",
"r": "are",
"rofl": "roll on the floor laughing",
"rpg": "role playing games",
"ru": "are you",
"shid": "slaps head in disgust",
"somy": "sick of me yet",
"sot": "short of time",
"thanx": "thanks",
"thx": "thanks",
"ttyl": "talk to you later",
"u": "you",
"ur": "you are",
"uw": "you’re welcome",
"wb": "welcome back",
"wfm": "works for me",
"wibni": "wouldn't it be nice if",
"wtf": "what the fuck",
"wtg": "way to go",
"wtgp": "want to go private",
"ym": "young man",
"gr8": "great"
}


emoticon_dict = {
":)": "happy",
":‑)": "happy",
":-]": "happy",
":-3": "happy",
":->": "happy",
"8-)": "happy",
":-}": "happy",
":o)": "happy",
":c)": "happy",
":^)": "happy",
"=]": "happy",
"=)": "happy",
"<3": "happy",
":-(": "sad",
":(": "sad",
":c": "sad",
":<": "sad",
":[": "sad",
">:[": "sad",
":{": "sad",
">:(": "sad",
":-c": "sad",
":-< ": "sad",
":-[": "sad",
":-||": "sad"
}

In [159]:
import pandas as pd
import numpy as np
import re
import matplotlib.pyplot as plt
import seaborn as sns
import nltk
import warnings 
warnings.filterwarnings("ignore", category=DeprecationWarning)
import os

from nltk.corpus import stopwords
from nltk.stem import PorterStemmer, WordNetLemmatizer

nltk.download('punkt')
nltk.download('wordnet')
stopwords = set(stopwords.words("english"))

In [133]:
train_df = pd.read_csv('train_tweets.csv')
train_df.head()

   id  label                                              tweet
0   1      0   @user when a father is dysfunctional and is s...
1   2      0  @user @user thanks for #lyft credit i can't us...
2   3      0                                bihday your majesty
3   4      0  #model   i love u take with u all the time in ...
4   5      0             factsguide: society now    #motivation

In [134]:
example = train_df.tweet[0]
example

' @user when a father is dysfunctional and is so selfish he drags his kids into his dysfunction.   #run'

In [135]:
test_df = pd.read_csv('test_tweets.csv')
test_df.head()

      id                                              tweet
0  31963  #studiolife #aislife #requires #passion #dedic...
1  31964   @user #white #supremacists want everyone to s...
2  31965  safe ways to heal your #acne!!    #altwaystohe...
3  31966  is the hp and the cursed child book up for res...
4  31967    3rd #bihday to my amazing, hilarious #nephew...

In [136]:
combine_df = train_df.append(test_df, ignore_index = True, sort = False)
combine_df.head()

   id  label                                              tweet
0   1    0.0   @user when a father is dysfunctional and is s...
1   2    0.0  @user @user thanks for #lyft credit i can't us...
2   3    0.0                                bihday your majesty
3   4    0.0  #model   i love u take with u all the time in ...
4   5    0.0             factsguide: society now    #motivation

In [37]:
print(combine_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49159 entries, 0 to 49158
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      49159 non-null  int64
 1   label   31962 non-null  float64
 2   tweet   49159 non-null  object
dtypes: float64(1), int64(1), object(1)
memory usage: 1.1+ MB
None

1. Удалим @user из всех твитов с помощью паттерна "@[\w]*". Для этого создадим функцию: 
 - для того, чтобы найти все вхождения паттерна в тексте, необходимо использовать re.findall(pattern, input_txt)
 - для для замены @user на пробел, необходимо использовать re.sub()

In [126]:
multiple_user = train_df.tweet[650]
single_user = train_df.tweet[0]
no_user = train_df.tweet[100]

# for num in range(50, 1000, 50):
#     print(num, train_df.tweet[num])

In [124]:
# c findall
def user_del1(tweet):
    """Delete @user from tweet"""
    user = re.findall('@[\w]*', tweet)
    if user:
        for i in range(len(user)):
          tweet = re.sub(user[i], '', tweet)      
    return tweet

print(multiple_user)
multiple_user = user_del1(multiple_user)
print(multiple_user)
print(single_user)
single_user = user_del1(single_user)
print(single_user)
print(no_user)
no_user = user_del1(no_user)
print(no_user)

@user @user @user congrats!   for @user
   congrats!   for
 @user when a father is dysfunctional and is so selfish he drags his kids into his dysfunction.   #run
  when a father is dysfunctional and is so selfish he drags his kids into his dysfunction.   #run
there are some truly sick ppl out there.
there are some truly sick ppl out there.

In [127]:
def user_del2(tweet):
    """Delete @user from tweet"""       
    return re.sub(r'@[\w]*', '', tweet)

multiple_user = train_df.tweet[650]
single_user = train_df.tweet[0]
no_user = train_df.tweet[100]

print(multiple_user)
multiple_user = user_del2(multiple_user)
print(multiple_user)
print(single_user)
single_user = user_del2(single_user)
print(single_user)
print(no_user)
no_user = user_del2(no_user)
print(no_user)

@user @user @user congrats!   for @user
   congrats!   for
 @user when a father is dysfunctional and is so selfish he drags his kids into his dysfunction.   #run
  when a father is dysfunctional and is so selfish he drags his kids into his dysfunction.   #run
there are some truly sick ppl out there.
there are some truly sick ppl out there.

2. Изменим регистр твитов на нижний с помощью .lower()

In [65]:
example = example.lower()
example

'  when a father is dysfunctional and is so selfish he drags his kids into his dysfunction.   #run'

3. Заменим сокращения с апострофами (пример: ain't, can't) на пробел, используя apostrophe_dict. Для этого необходимо сделать функцию: для каждого слова в тексте проверить (for word in text.split()), если слово есть в словаре apostrophe_dict в качестве ключа (сокращенного слова), то заменить ключ на значение (полную версию слова).

In [66]:
ex_with_apostrophe = train_df.tweet[255]
ex_with_apostrophe

"i'm so ready for tomorrow ð\x9f\x91\x93ð\x9f\x93\x9að\x9f\x93\x9að\x9f\x93\x9að\x9f\x93\x96ð\x9f\x93\x91#englishteacher #teacher #ecuador   "

In [67]:
full_text = [apostrophe_dict.get(word) or word for word in ex_with_apostrophe.split(' ')]
' '.join(full_text)

'I am so ready for tomorrow ð\x9f\x91\x93ð\x9f\x93\x9að\x9f\x93\x9að\x9f\x93\x9að\x9f\x93\x96ð\x9f\x93\x91#englishteacher #teacher #ecuador   '

In [77]:
def change_from_dict(tweet, dictionary): 
    """Chenge element for value from dict if exists"""
    full_text = [dictionary.get(word) or word for word in tweet.split(' ')]
    return ' '.join(full_text)

4. Заменим сокращения на их полные формы, используя short_word_dict. Для этого воспользуемся функцией, используемой в предыдущем пункте.

In [78]:
ex_with_apostrophe = change_from_dict(ex_with_apostrophe, short_word_dict)
example = change_from_dict(example, short_word_dict)
ex_with_apostrophe, example

('I am so ready for tomorrow ð\x9f\x91\x93ð\x9f\x93\x9að\x9f\x93\x9að\x9f\x93\x9að\x9f\x93\x96ð\x9f\x93\x91#englishteacher #teacher #ecuador   ',
 '  when a father is dysfunctional and is so selfish he drags his kids into his dysfunction.   #run')

5. Заменим эмотиконы (пример: ":)" = "happy") на пробелы, используя emoticon_dict. Для этого воспользуемся функцией, используемой в предыдущем пункте.

In [92]:
emoji_example = train_df.tweet[150]
emoji_example

'when you know yall 2 aint going know where :) #love #commitment #trust #faithful  '

In [95]:
emoji_example = change_from_dict(emoji_example, emoticon_dict)
emoji_example

'when you know yall 2 aint going know where happy #love #commitment #trust #faithful  '

6. Заменим пунктуацию на пробелы, используя re.sub() и паттерн r'[^\w\s]'

In [105]:
punct_example = train_df.tweet[450]
punct_example

# for num in range(50, 1000, 50):
#     print(num, train_df.tweet[num])

"it's a beautiful day..... #sun   #fun #beachpark @ beach park "

In [106]:
punct_example = re.sub(r'[^\w\s]', ' ', punct_example)
punct_example

'it s a beautiful day       sun    fun  beachpark   beach park '

7. Заменим спец. символы на пробелы, используя re.sub() и паттерн r'[^a-zA-Z0-9]'

In [107]:
punct_example = re.sub(r'[^a-zA-Z0-9]', ' ', punct_example)
punct_example

'it s a beautiful day       sun    fun  beachpark   beach park '

8. Заменим числа на пробелы, используя re.sub() и паттерн r'[^a-zA-Z]'

In [110]:
num_example = train_df.tweet[50]
print(num_example)
num_example = re.sub(r'[^a-zA-Z]', ' ', num_example)
num_example

#abc2020 getting ready 2 remove the victums frm #pulseclub #prayfororlando

' abc     getting ready   remove the victums frm  pulseclub  prayfororlando  '

9. Удалим из текста слова длиной в 1 символ, используя ' '.join([w for w in x.split() if len(w)>1])

In [113]:
short_example = train_df.tweet[750]
print(short_example)
short_example = ' '.join([w for w in short_example.split() if len(w)>1])
print(short_example)

# for num in range(50, 1000, 50):
#     print(num, train_df.tweet[num])

it's been a weird few months but finally feeling more positive about life lately   #pleasedontchange ð
it's been weird few months but finally feeling more positive about life lately #pleasedontchange ð

In [132]:
def tweets_preprocessing(example): 

    # 1 - Удалим @user из всех твитов
    example = user_del2(example)
    # 2 - Изменим регистр твитов на нижний 
    example = example.lower()
    # 3-4 - Заменим сокращения с апострофами 
    example = change_from_dict(example, short_word_dict)
    # 5 - Заменим эмотиконы
    example = change_from_dict(example, emoticon_dict)
    # 6 - Заменим пунктуацию на пробелы
    example = re.sub(r'[^\w\s]', ' ', example)
    # 7 - Заменим спец. символы на пробелы
    example = re.sub(r'[^a-zA-Z0-9]', ' ', example)
    # 8 - Заменим числа на пробелы
    example = re.sub(r'[^a-zA-Z]', ' ', example)
    # 9 - Удалим из текста слова длиной в 1 символ
    example = ' '.join([w for w in example.split() if len(w)>1])

    return example

In [137]:
combine_df.head()

   id  label                                              tweet
0   1    0.0   @user when a father is dysfunctional and is s...
1   2    0.0  @user @user thanks for #lyft credit i can't us...
2   3    0.0                                bihday your majesty
3   4    0.0  #model   i love u take with u all the time in ...
4   5    0.0             factsguide: society now    #motivation

In [138]:
combine_df.tweet = combine_df.tweet.apply(tweets_preprocessing)
combine_df.head()

   id  label                                              tweet
0   1    0.0  when father is dysfunctional and is so selfish...
1   2    0.0  thanks for lyft credit can use cause they don ...
2   3    0.0                                bihday your majesty
3   4    0.0    model love you take with you all the time in ur
4   5    0.0                  factsguide society now motivation

10. Поделим твиты на токены с помощью nltk.tokenize.word_tokenize, создав новый столбец 'tweet_token'.

In [146]:
combine_df['tweet_token'] = combine_df.tweet.apply(nltk.word_tokenize)

combine_df.head()

,id,label,tweet,tweet_token
0,1,0.0,when father is dysfunctional and is so selfish...,"[when, father, is, dysfunctional, and, is, so,..."
1,2,0.0,thanks for lyft credit can use cause they don ...,"[thanks, for, lyft, credit, can, use, cause, t..."
2,3,0.0,bihday your majesty,"[bihday, your, majesty]"
3,4,0.0,model love you take with you all the time in ur,"[model, love, you, take, with, you, all, the, ..."
4,5,0.0,factsguide society now motivation,"[factsguide, society, now, motivation]"

11. Удалим стоп-слова из токенов, используя nltk.corpus.stopwords. Создадим столбец 'tweet_token_filtered' без стоп-слов.

In [152]:
combine_df['tweet_token_filtered'] = combine_df.tweet_token.apply(lambda raw: [w for w in raw if not w in stopwords])

combine_df.head()

,id,label,tweet,tweet_token,tweet_token_filtered
0,1,0.0,when father is dysfunctional and is so selfish...,"[when, father, is, dysfunctional, and, is, so,...","[father, dysfunctional, selfish, drags, kids, ..."
1,2,0.0,thanks for lyft credit can use cause they don ...,"[thanks, for, lyft, credit, can, use, cause, t...","[thanks, lyft, credit, use, cause, offer, whee..."
2,3,0.0,bihday your majesty,"[bihday, your, majesty]","[bihday, majesty]"
3,4,0.0,model love you take with you all the time in ur,"[model, love, you, take, with, you, all, the, ...","[model, love, take, time, ur]"
4,5,0.0,factsguide society now motivation,"[factsguide, society, now, motivation]","[factsguide, society, motivation]"

12. Применим стемминг к токенам с помощью nltk.stem.PorterStemmer. Создадим столбец 'tweet_stemmed' после применения стемминга.

In [157]:
stemmer = PorterStemmer()
stemmer.stem('society')

'societi'

In [158]:
combine_df['tweet_stemmed'] = combine_df.tweet_token_filtered.apply(lambda raw: [stemmer.stem(w) for w in raw])
combine_df.head()

,id,label,tweet,tweet_token,tweet_token_filtered,tweet_stemmed
0,1,0.0,when father is dysfunctional and is so selfish...,"[when, father, is, dysfunctional, and, is, so,...","[father, dysfunctional, selfish, drags, kids, ...","[father, dysfunct, selfish, drag, kid, dysfunc..."
1,2,0.0,thanks for lyft credit can use cause they don ...,"[thanks, for, lyft, credit, can, use, cause, t...","[thanks, lyft, credit, use, cause, offer, whee...","[thank, lyft, credit, use, caus, offer, wheelc..."
2,3,0.0,bihday your majesty,"[bihday, your, majesty]","[bihday, majesty]","[bihday, majesti]"
3,4,0.0,model love you take with you all the time in ur,"[model, love, you, take, with, you, all, the, ...","[model, love, take, time, ur]","[model, love, take, time, ur]"
4,5,0.0,factsguide society now motivation,"[factsguide, society, now, motivation]","[factsguide, society, motivation]","[factsguid, societi, motiv]"

13. Применим лемматизацию к токенам с помощью nltk.stem.wordnet.WordNetLemmatizer. Создадим столбец 'tweet_lemmatized' после применения лемматизации.

In [161]:
# combine_df['tweet_lemmatized] = 0

lemmetizer = WordNetLemmatizer()

combine_df['tweet_lemmatized'] = combine_df.tweet_token_filtered.apply(lambda raw: [lemmetizer.lemmatize(w) for w in raw])
combine_df.head()

[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Unzipping corpora/wordnet.zip.

,id,label,tweet,tweet_token,tweet_token_filtered,tweet_stemmed,tweet_lemmatized
0,1,0.0,when father is dysfunctional and is so selfish...,"[when, father, is, dysfunctional, and, is, so,...","[father, dysfunctional, selfish, drags, kids, ...","[father, dysfunct, selfish, drag, kid, dysfunc...","[father, dysfunctional, selfish, drag, kid, dy..."
1,2,0.0,thanks for lyft credit can use cause they don ...,"[thanks, for, lyft, credit, can, use, cause, t...","[thanks, lyft, credit, use, cause, offer, whee...","[thank, lyft, credit, use, caus, offer, wheelc...","[thanks, lyft, credit, use, cause, offer, whee..."
2,3,0.0,bihday your majesty,"[bihday, your, majesty]","[bihday, majesty]","[bihday, majesti]","[bihday, majesty]"
3,4,0.0,model love you take with you all the time in ur,"[model, love, you, take, with, you, all, the, ...","[model, love, take, time, ur]","[model, love, take, time, ur]","[model, love, take, time, ur]"
4,5,0.0,factsguide society now motivation,"[factsguide, society, now, motivation]","[factsguide, society, motivation]","[factsguid, societi, motiv]","[factsguide, society, motivation]"

14. Сохраним результат предобработки в pickle-файл.

In [162]:
combine_df.to_pickle('combine_df.pkl')

In [163]:
!ls

combine_df.pkl	sample_data  test_tweets.csv  train_tweets.csv

In [ ]:
def user_del(tweet):
    """Delete @user from tweet"""
    user = re.findall('@[\w]*', tweet)
    return re.sub(user[0], '', tweet)


def change_from_dict(tweet, dictionary): 
    """Chenge element for value from dict if exists"""
    full_text = [dictionary.get(word) or word for word in tweet.split(' ')]
    return ' '.join(full_text)


def tweets_preprocessing(example): 

    # 1 - Удалим @user из всех твитов
    example = user_del(example)
    # 2 - Изменим регистр твитов на нижний 
    example = example.lower()
    # 3-4 - Заменим сокращения с апострофами 
    example = change_from_dict(example, short_word_dict)
    # 5 - Заменим эмотиконы
    example = change_from_dict(example, emoticon_dict)
    # 6 - Заменим пунктуацию на пробелы
    example = re.sub(r'[^\w\s]', '', example)
    # 7 - Заменим спец. символы на пробелы
    example = re.sub(r'[^a-zA-Z0-9]', '', example)
    # 8 - Заменим числа на пробелы
    example = re.sub(r'[^a-zA-Z]', ' ', example)
    # 9 - Удалим из текста слова длиной в 1 символ
    example = ' '.join([w for w in example.split() if len(w)>1])

    return example